#fishing{
	position: relative;
    top: 50px;
    width: 900px;
    height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: url("../images/fishing/bg.jpg");
	border-radius: 16px;
	box-shadow: 0 0 5px #000;
	overflow: hidden;
}

#fishing2{
	position: absolute;
    width: 900px;
    height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: url("../images/fishing/bg2.jpg");
	border-radius: 16px;
	box-shadow: 0 0 5px #000;
	overflow: hidden;
	opacity: 0;
	animation: bgFade 120s linear infinite alternate;
}

@keyframes bgFade{
    0%  {  opacity: 0; }
    25%  {  opacity: 0; }
    75%  {  opacity: 1; }
    100%  {  opacity: 1; }
}

#wip_image{
	position: absolute;
	top: -2px;
	left: 0px;
    width: 87px;
    height: 87px;
	background: url("../images/fishing/wip.png");
}

#start{
	position: relative;
	top: 300px;
	left: 0;
	width: 219px;
	height: 32px;
	background: url("../images/fishing/start_fishing.png");
	transition: opacity 200ms linear, left 150ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
    margin-left: auto;
    margin-right: auto;
}

#bar{
	position: relative;
	top: 400px;
	width: 389px;
	height: 37px;
	background: url("../images/fishing/fish_bar.png");
	opacity: 0;
	transition: opacity 200ms linear;
    margin-left: auto;
    margin-right: auto;
}

#bar2{
    position: relative;
    left: 7px;
    top: 6px;
    width: 0px;
    height: 23px;
    background: url("../images/fishing/yellow_bar.png");
	transition: width 15000ms linear;
	overflow: hidden;
}

#bar_shine{
	float: right;
    position: relative;
	left: 9px;
    top: -10px;
    width: 21px;
    height: 45px;
    background: url("../images/fishing/yellow_bar_shine.png");
}

#bar_shine2{
    position: absolute;
    left: -80px;
    top: -22px;
    float: right;
    width: 122px;
    height: 66px;
    background: url("../images/fishing/yellow_bar_shine_2.png") 0px 0px;
    transform: scale(0.4);
	transition: left 15000ms linear, background-position 15000ms linear;
	opacity: 0.5;
}

#bar_text{
	width: 100%;
	font-size: 14px;
	position: absolute;
	top: 6px;
	color: #EEE;
	text-align: center;
	font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial,sans-serif";
	z-index: 10;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#rod{
	position: relative;
	top: 120px;
	left: 250px;
	width: 250px;
	height: 250px;
	opacity: 0;
}

#rod_alert{
	position: absolute;
	top: 0;
	left: 0;
	width: 900px;
	height: 600px;
	background: url("../images/fishing/alert_bg.png");
	background-repeat: no-repeat;
	animation: flash 0.2s ease-in-out infinite alternate;
	visibility: hidden;
}

@keyframes flash{
    0%  {  opacity: 0; transform: rotate(-1deg) scale(1.075);  }
    50%  {  opacity: 1; }
    100%  {  opacity: 0; transform: rotate(1deg) scale(1.1); }
}

#rod_space_btn{
	float: left;
    width: 79px;
    height: 37px;
	background: url("../images/fishing/space_button.png");
	margin-right: 15px;
	position: relative;
	top: 74px;
}

#rod_bar{
	float: left;
    width: 34px;
    height: 189px;
	background: url("../images/fishing/bar_red.png");
}

#rod_middle{
	position: relative;
	top: 40px;
    width: 32px;
    height: 45px;
	background: url("../images/fishing/middle_bar.png");
}

#rod_drop{
	position: relative;
	top: 3px;
	left: 8px;
    width: 19px;
    height: 31px;
	background: url("../images/fishing/bar_drop.png");
	z-index: 10;
}

#fish{
	text-align: center;
	position: relative;
	bottom: 15px;
	width: 415px;
	height: 198px;
    margin-left: auto;
    margin-right: auto;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	opacity: 0;
	transition: opacity 500ms linear;
}

#fish_image{
	width: 120px;
	height: 120px;
	background: url("../images/fishing/Crucian_Carp.png");
	background-repeat: no-repeat;
	z-index: 5;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	top: 50px;
	transition: transform 500ms cubic-bezier(0.6, -0.68, 0.74, 0.05);
}

#fish_image_shine{
	width: 294px;
	height: 294px;
	background: url("../images/fishing/catch_shine.png");
	background-repeat: no-repeat;
	z-index: 4;
	position: absolute;
    top: -35px;
    left: 51px;
	transform: scale(1.5);
	transition: opacity 1500ms linear, transform 400ms linear;
}

#fish_size{
	position: relative;
	top: 35px;
	font-size: 12px;
	color: #FFF;
	z-index: 5;
}

#fish_text{
	position: relative;
	top: 32px;
	color: #b7c169;
	z-index: 5;
}

#fish_bg{
	position: absolute;
	top: 0;
	width: 415px;
	height: 198px;
	background: url("../images/fishing/catch_bg.png");
	background-repeat: no-repeat;
	z-index: 1;
	transition: opacity 1200ms linear;
}

#fish_bg_shine{
	position: relative;
	top: 33px;
    margin-left: auto;
    margin-right: auto;
	width: 182px;
	height: 7px;
	background: url("../images/fishing/catch_bg_shine.png");
	background-repeat: no-repeat;
	z-index: 5;
	transition: opacity 800ms cubic-bezier(0.4, 0, 1, 1), transform 500ms cubic-bezier(0.6, -0.68, 0.74, 0.05);
}

.fish_failed{
	color: #F00 !important;
}

#trophy{
	text-align: center;
	position: relative;
	bottom: 232px;
	width: 415px;
	height: 198px;
    margin-left: auto;
    margin-right: auto;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	opacity: 0;
	transition: opacity 500ms linear;
}

#trophy_image{
	width: 151px;
	height: 139px;
	background: url("../images/fishing/trophy.png");
	background-repeat: no-repeat;
	z-index: 5;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	top: 50px;
	transition: transform 500ms cubic-bezier(0.6, -0.68, 0.74, 0.05);
}

#trophy_image_shine{
	width: 294px;
	height: 294px;
	background: url("../images/fishing/catch_shine.png");
	background-repeat: no-repeat;
	z-index: 4;
	position: absolute;
    top: -35px;
    left: 51px;
	transform: scale(1.5);
	transition: opacity 1500ms linear, transform 400ms linear;
}

#trophy_text{
	position: relative;
	top: 35px;
	font-size: 12px;
	color: #FFF;
	z-index: 5;
}

#trophy_text2{
	position: relative;
	top: 32px;
	color: #b7c169;
	z-index: 5;
}

#trophy_bg{
	position: absolute;
	top: 19px;
	width: 415px;
	height: 198px;
	background: url("../images/fishing/catch_bg.png");
	background-repeat: no-repeat;
	z-index: 1;
	transition: opacity 1200ms linear;
}

#trophy_bg_shine{
	position: relative;
	top: 33px;
    margin-left: auto;
    margin-right: auto;
	width: 182px;
	height: 7px;
	background: url("../images/fishing/catch_bg_shine.png");
	background-repeat: no-repeat;
	z-index: 5;
	transition: opacity 800ms cubic-bezier(0.4, 0, 1, 1), transform 500ms cubic-bezier(0.6, -0.68, 0.74, 0.05);
}