*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #211f21;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img, .dropdown-item{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a{
	text-decoration: none;
}

div{
	display: block;
}

p, h1, h2, h3, h4, span{
	font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}

body, html{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("../images/bg.jpg") center top no-repeat rgb(250, 250, 250);
    background-size: cover;
}

html{
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FA0;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b37700;
}

#window{
	background-image:url('../images/window_new.png');
	width: 847px;
	height: 910px;
	display: none;
	position: absolute;
	top: 0px;
	left: 25%;
	margin-bottom: 20px;
	margin: auto;
}

#lines{
	background-image:url('../images/lines/knight_lines.png');
	position: absolute;
	width: 847px;
	height: 910px;
}

#window_2{
	background-image:url('../images/stats_window.png');
	width: 234px;
	height: 329px;
	display: none;
	z-index: 10;
	position: absolute;
}

#window_3{
	background-image:url('../images/stats_window_2.png');
	width: 390px;
	height:723px;
	display: none;
	z-index: 10;
	position: absolute;
}

.row{
	position: relative;
	left: 110px;
	width: 747px;
	height: 772px;
}

.col-3{
	position: relative;
	top: 80px;
	border-radius: 24px;
	width: 100px;
}

.skill_box{
	width: 110px;
	height: 113px;
	margin: 10px;
}

.bar{
	position: relative;
	background-image:url('../images/bar.png');
    background-repeat: no-repeat;
	width: 107px;
	height: 36px;
	top: 77px;
	left: 2px;
}

.skill_text{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	font-size: 14px;
}

.plus{
	position: relative;
	left: 80px;
	top: 5px;
	background-image:url('../images/plus.png');
    background-repeat: no-repeat;
	width: 30px;
	height: 36px;
	cursor: pointer;
}

.minus{
	position: relative;
	top: 41px;
	background-image:url('../images/minus.png');
    background-repeat: no-repeat;
	width: 30px;
	height: 36px;
	cursor: pointer;
}

.plus:not(.plus_locked):hover{
	background-image:url('../images/plus_hover.png') !important;
}

.minus:not(.minus_locked):hover{
	background-image:url('../images/minus_hover.png') !important;
}

.minus_locked{
	background-image:url('../images/minus_locked.png');
}

.plus_locked{
	background-image:url('../images/plus_locked.png');
}

.skill{
	background-image:url('../images/frame.png');
	position: relative;
	left: 19px;
	top: 2px;
	width: 72px;
	height: 84px;
	z-index: 2;
}

.skill:hover:after{
	content: "";
	position: absolute;
	width: 73px;
	height: 81px;
	background-image:url('../images/frame_glow.png');
}

.point_box{
	position: relative;
	left: 0px;
	top: -169px;
}

.skillImage{
	position: relative;
	width: 72px;
	height: 84px;
	background-size: contain;
	top: -82px;
	left: 19px;
	z-index: 1;
	transform: scale(0.6);
}

#drag_bar{
    position: absolute;
    width: 847px;
    height: 52px;
    top: 13px;
	z-index: 10;
}

#drag_bar_2{
	position: absolute;
    width: 234px;
    height: 52px;
    z-index: 10;
}

#drag_bar_3{
	position: absolute;
    width: 390px;
    height: 52px;
    z-index: 10;
}

#skill_points{
    position: relative;
    width: 270px;
    height: 34px;
    top: 87px;
    left: 17px;
}

#skill_points p{
    position: relative;
    font-size: 15px;
    color: white;
    text-align: left;
    text-shadow: black 1px 1px;
    left: 6px;
    top: 9px;
}

#skill_points #skillPointNumber{
    position: relative;
    color: #dcc134;
    font-size: 21px;
    text-shadow: #000 0px 0px 5px;
    left: -9px;
    top: -34px;
    text-align: right;
}

#resetSkills{
    position: relative;
    width: 99px;
    height: 36px;
    left: 293px;
    top: 53px;
	cursor: pointer;
}

#selectJob{
	position: relative;
    width: 119px;
    height: 36px;
    left: 708px;
    top: 17px;
}

#jobDrop{
    position: relative;
    left: 708px;
    top: -20px;
}

#jobDrop button{
	background-color: #0000;
    width: 118px;
    height: 36px;
}

#jobDrop button:after{
	display: none;
}

.dropdown-item:hover{
	background-color: #dcc134;
}

.topNav_bar{
	background-image:url('../images/top_bar.png');
    background-repeat: no-repeat;
	width: 221px;
	height: 30px;
	margin-right: 20px;
	text-align: center;
}

.topNav_bar p{
	font-weight: bold;
	font-size: 20px;
	color: white;
    text-shadow: -1px 1px #310, 1px 1px #310;
}

.fixed-top{
	padding: 0;
}

header{
	padding-bottom: 35px;
}

#closeWindow{
    float: right;
    position: relative;
    width: 26px;
    height: 26px;
    right: 12px;
    top: 26px;
	z-index: 10;
	cursor: pointer;
}

#closeWindow_2{
    float: right;
    position: relative;
    width: 26px;
    height: 26px;
    right: 12px;
    top: 13px;
    z-index: 10;
	cursor: pointer;
}

#closeWindow_3{
    float: right;
    position: relative;
    width: 26px;
    height: 26px;
    right: 12px;
    top: 13px;
    z-index: 10;
	cursor: pointer;
}

#advanced_stats{
    background-image: url("../images/advanced_stats.png");
    float: right;
    position: absolute;
    width: 127px;
    height: 28px;
    right: 39px;
    top: 12px;
    z-index: 10;
	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
}

#jobName{
    position: absolute;
    left: 149px;
    top: 34px;
    width: 165px;
    height: 31px;
	text-align: center;
}

#jobName p{
	font-size: 18px;
	margin-top: 4px;
	text-shadow: #fff 2px 2px;
}

.locked:before{
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
    margin-left: 41px;
    margin-top: 30px;
	background-image:url('../images/lock.png');
	z-index: 2;
	pointer-events: none;
}

.skill_12:before{
	content: "";
	width: 28px;
	height: 22px;
	background-image:url('../images/sp.png');
    transform: scale(0.6);
    position: absolute;
    left: 3px;
    top: 51px;
    z-index: 5;
}

.statsButton{
    position: relative;
    background-image: url("../images/stats_plus.png");
    width: 25px;
    height: 25px;
    top: 66px;
    left: 193px;
    margin-bottom: 2px;
	cursor: pointer;
}

.statsButton p{
    position: relative;
    color: #cacaca;
    text-shadow: #000 0px 1px 3px;
    right: 79px;
    top: 1px;
    text-align: right;
    width: 75px;
	pointer-events: none;
}

.statsButton, .bonus p{
	color: #c8974a;
}

#attributePoints{
    position: relative;
    float: right;
    width: 60px;
    height: 33px;
    top: 112px;
    right: 19px;
}

#attributePoints p{
    text-align: right;
    font-size: 24px;
    text-shadow: #000 0px 0px 3px;
	color: #c8974a;
}

#resetStats{
    position: absolute;
    width: 126px;
    height: 26px;
    top: 234px;
    left: 54px;
	cursor: pointer;
}

#blocker{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000A;
	display: flex;
	align-items: center;
	justify-content: center;
}

#blocker p{
	z-index: 20;
	font-size: 64px;
	text-align: center;
	color: #fff;
}

#selectArrows{
    position: absolute;
    top: 40px;
    right: 0px;
    width: 725px;
    height: 200px;
    float: right;
    animation-name: bounce;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#selectArrows img{
	vertical-align: middle;
    border-style: none;
    float: right;
    padding-left: 190px;
    position: relative;
    right: 106px;
}

/* The animation code */
@keyframes bounce{
    from {top: 40px;}
    to {top: 60px;}
}

#serverTimes{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 88px;
	height: 30px;
	background-color: #FA0;
	border-bottom-right-radius: 12px;
	padding-left: 5px;
}

#serverTimes p{
	position: relative;
	float: right;
    width: 54px;
    top: -3px;
    left: 55px;
	padding-right: 5px;
	text-align: right;
	color: white;
    text-shadow: -1px 1px #310, 1px 1px #310;
}

#clock{
    background-image: url(../images/clock.png);
	background-repeat: no-repeat;
    position: relative;
    width: 17px;
    height: 18px;
    top: 6px;
    left: 5px;
}

#container {
   min-height:100%;
   position:relative;
}

main {
	width: 100%;
	height: 1000px;
	padding-bottom: 24px; /* must be equal to height of footer */
	display: block;
}

/* If screen height is less than 900px, use a pushed footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px; /* must be equal to padding-bottom of main */
    background-color: #FA0;
	text-align: center;
	z-index: 50;
}

/* If screen height is greater than 900px, use a sticky footer */
@media only screen and (min-height: 900px) {
	footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 20px;
		background-color: #FA0;
		text-align: center;
		z-index: 50;
	}
}

footer span{
	font-size: 14px;
	color: white;
    text-shadow: -1px 1px #310, 1px 1px #310;
}

/*
	------------------------------ INFO STUFF ------------------------------
*/

#info_description p{
	margin: 0;
	padding: 0;
}

#info_description_2 p{
	margin: 0;
	padding: 0;
}

#info_description_3 p{
	margin: 0;
	padding: 0;
}

#info_box{
	position: absolute;
	left: 100px;
	top: 100px;
	border: 1px solid rgba(55,55,55,.9);
	box-shadow: 0px 0px 5px #000;
	border-radius: 4px;
	display: none;
	z-index: 25;
}

#info_name{
	width: 350px;
	height: 40px;
	background-color: rgba(25,25,25,.9);
	float: left;
	display: flex;
	align-items: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#info_name p{
	margin-left: 10px;
	color: #fff;
	font-size: 16px;
	text-shadow: black 1px 2px;
    position: relative;
    top: 9px;
}

#info_element{
	position: absolute;
	width: 350px;
	height: 40px;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
	box-shadow: 0px 1px 1px #444;
}

#info_element p{
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
	text-shadow: black 1px 2px;
    position: relative;
    top: 8px;
}

#info_content{
	margin-top: 40px;
	width: 350px;
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#info_image_box{
	width: 50px;
	height: 50px;
	float: left;
	background-color: #434343;
	border-radius: 6px;
	border: 3px solid #333333;
	display: flex;
}

#info_image{
	background-size: contain;
	background-repeat: no-repeat;
	width: 96px;
	height: 100px;
	transform: scale(0.8);
	position: relative;
	top: -8px;
}

#info_top_description{
	float: left;
	margin: 8px;
}

#info_description{
	clear: both;
}

.info_linebreak{
	height: 1px;
	width: 100%;
	background-color: #666;
	margin: 5px 0px;
}

.info_resource{
	color: #fff;
	font-size: 14px;
}

.info_level{
	color: #fff;
	font-size: 18px;
}

.info_gray{
	color: #777;
	font-size: 12px;
}

.info_orange{
	color: #a98104;
	font-size: 12px;
}

.info_red{
	color: #a90404;
	font-size: 12px;
}

.info_blue{
	color: #0082c5;
	font-size: 12px;
}

.element_holy{
	background: linear-gradient(to right, #191919d9 , #7a4d01) !important;
}

.element_dark{
	background: linear-gradient(to right, #191919d9 , #3e1722) !important;
}

.element_fire{
	background: linear-gradient(to right, #191919d9 , #6e2910) !important;
}

.element_ice{
	background: linear-gradient(to right, #191919d9 , #153570) !important;
}

.element_electric{
	background: linear-gradient(to right, #191919d9 , #105660) !important;
}

.element_toxic{
	background: linear-gradient(to right, #191919d9 , #34164a) !important;
}
