.job_select{
	position: relative;
	left: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	background-color: #211f21;
	margin-top: 10px;
	cursor: pointer;
	font-size: 24px;
	letter-spacing: 6px;
	border: 1px solid #000;
	
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	
    background-repeat: no-repeat;
    background-position: right;
	filter: brightness(100%);
}

.job_select:hover{
	border: 1px solid #ff0;
	border-left: 0px;
}