img, .dropdown-item{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a{
	text-decoration: none;
}

div{
	display: block;
}

#window p, h1, h2, h3, h4, span, input, a{
	font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}

#info_box p, h1, h2, h3, h4, span, input{
	font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FA0;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b37700;
}

#window{
	background-image:url('../images/window_new.png');
	width: 847px;
	height: 910px;
	display: block;
	position: absolute;
	top: 0px;
	left: 20%;
	margin-bottom: 20px;
	margin: auto;
}

#lines{
	background-image:url('../images/lines/knight_lines.png');
	position: absolute;
	width: 847px;
	height: 910px;
}

.row{
	position: relative;
	left: 110px;
	width: 747px;
	height: 772px;
}

.col-3{
	position: relative;
	top: 80px;
	border-radius: 24px;
	width: 100px;
}

.skill_box{
	width: 110px;
	height: 113px;
	margin: 10px;
}

.bar{
	position: relative;
	background-image:url('../images/bar.png');
    background-repeat: no-repeat;
	width: 107px;
	height: 36px;
	top: 77px;
	left: 2px;
}

.skill_text{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	font-size: 14px;
}

.plus{
	position: relative;
	left: 80px;
	top: 5px;
	background-image:url('../images/plus.png');
    background-repeat: no-repeat;
	width: 30px;
	height: 36px;
	cursor: pointer;
}

.minus{
	position: relative;
	top: 41px;
	background-image:url('../images/minus.png');
    background-repeat: no-repeat;
	width: 30px;
	height: 36px;
	cursor: pointer;
}

.plus:not(.plus_locked):hover{
	background-image:url('../images/plus_hover.png') !important;
}

.minus:not(.minus_locked):hover{
	background-image:url('../images/minus_hover.png') !important;
}

.minus_locked{
	background-image:url('../images/minus_locked.png');
}

.plus_locked{
	background-image:url('../images/plus_locked.png');
}

.skill{
	background-image:url('../images/frame.png');
	position: relative;
	left: 19px;
	top: 2px;
	width: 72px;
	height: 84px;
	z-index: 2;
}

.skill:hover:after{
	content: "";
	position: absolute;
	width: 73px;
	height: 81px;
	background-image:url('../images/frame_glow.png');
}

.point_box{
	position: relative;
	left: 0px;
	top: -169px;
}

.skillImage{
	position: relative;
	width: 72px;
	height: 84px;
	background-size: contain;
	top: -82px;
	left: 19px;
	z-index: 1;
	transform: scale(0.6);
}

#drag_bar{
    position: absolute;
    width: 847px;
    height: 52px;
    top: 13px;
	z-index: 10;
}

#skill_points{
    position: relative;
    width: 270px;
    height: 34px;
    top: 87px;
    left: 17px;
	margin: 0;
}

#skill_points p{
    position: relative;
    font-size: 15px;
    color: white;
    text-align: left;
    text-shadow: black 1px 1px;
    left: 6px;
    top: 9px;
}

#skill_points #skillPointNumber{
    position: relative;
    color: #dcc134;
    font-size: 21px;
    text-shadow: #000 0px 0px 5px;
    left: -9px;
    top: -34px;
    text-align: right;
}

#resetSkills{
    position: relative;
    width: 99px;
    height: 36px;
    left: 293px;
    top: 53px;
	margin: 0;
	cursor: pointer;
}

#saveSkillBuild{
	position: relative;
	width: 0;
	height: 0;
}

#saveLabel{
	position: relative;
    width: 148px;
    height: 38px;
    left: 400px;
    top: 16px;
	margin: 0 auto;
	cursor: pointer;
	background-image: linear-gradient(#EEEEEE, #C5C5C5, #F6F6F6);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(50, 50, 50, 0.6);
	box-shadow: 0px 1px 1px black;
	text-align: center;
	line-height: 30px;
	color: #252525;
}

.vertical-align{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	font-family: inherit;
}

#buildNameInput{
	width: 9rem;
	display: none;
}

#loadSkillBuild{
	position: relative;
    height: 38px;
    left: 553px;
    top: 16px;
	margin: 0;
	cursor: pointer;
}

#loadBuildButton{
	background-image: linear-gradient(#EEEEEE, #C5C5C5, #F6F6F6);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(50, 50, 50, 0.6);
	box-shadow: 0px 1px 1px black;
	width: 148px;
	font-family: inherit;
}

#selectJob{
	position: relative;
    width: 119px;
    height: 36px;
    left: 708px;
	bottom: 20px;
}

#jobDrop{
    position: relative;
    left: 708px;
    bottom: 55px;
}

#jobDrop button{
	background-color: #0000;
    width: 118px;
    height: 36px;
}

#jobDrop button:after{
	display: none;
}

.dropdown-item:hover{
	background-color: #dcc134;
}

header{
	padding-bottom: 35px;
}

#closeWindow{
    float: right;
    position: relative;
    width: 26px;
    height: 26px;
    right: 12px;
    top: 26px;
	z-index: 10;
	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
}

#jobName{
    position: absolute;
    left: 149px;
    top: 34px;
    width: 165px;
    height: 31px;
	text-align: center;
}

#jobName p{
	font-size: 18px;
	margin-top: 4px;
	text-shadow: white 2px 2px;
}

.locked:before{
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
    margin-left: 41px;
    margin-top: 30px;
	background-image:url('../images/lock.png');
	z-index: 2;
	pointer-events: none;
}

.skill_12:before{
	content: "";
	width: 28px;
	height: 22px;
	background-image:url('../images/sp.png');
    transform: scale(0.6);
    position: absolute;
    left: 3px;
    top: 51px;
    z-index: 5;
}

#container {
   min-height:100%;
   position:relative;
}

/*
	------------------------------ INFO STUFF ------------------------------
*/

#info_description p{
	margin: 0;
	padding: 0;
}

#info_description_2 p{
	margin: 0;
	padding: 0;
}

#info_description_3 p{
	margin: 0;
	padding: 0;
}

#info_box{
	position: absolute;
	left: 100px;
	top: 100px;
	border: 1px solid rgba(55,55,55,.9);
	box-shadow: 0px 0px 5px #000;
	border-radius: 4px;
	display: none;
	z-index: 25;
}

#info_name{
	width: 350px;
	height: 40px;
	background-color: rgba(25,25,25,.9);
	float: left;
	display: flex;
	align-items: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#info_name p{
	margin-left: 10px;
	color: white;
	font-size: 16px;
	text-shadow: black 1px 2px;
    position: relative;
    top: 9px;
}

#info_element{
	position: absolute;
	width: 350px;
	height: 40px;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
	box-shadow: 0px 1px 1px #444;
}

#info_element p{
	margin-left: 10px;
	color: white;
	font-size: 14px;
	text-shadow: black 1px 2px;
    position: relative;
    top: 8px;
}

#info_content{
	margin-top: 40px;
	width: 350px;
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#info_image_box{
	width: 50px;
	height: 50px;
	float: left;
	background-color: #434343;
	border-radius: 6px;
	border: 3px solid #333333;
	display: flex;
}

#info_image{
	background-size: contain;
	background-repeat: no-repeat;
	width: 96px;
	height: 100px;
	transform: scale(0.8);
	position: relative;
	top: -8px;
}

#info_top_description{
	float: left;
	margin: 8px;
}

#info_description{
	clear: both;
}

.info_linebreak{
	height: 1px;
	width: 100%;
	background-color: #666;
	margin: 5px 0px;
}

.info_resource{
	color: white;
	font-size: 14px;
}

.info_level{
	color: white;
	font-size: 18px;
}

.info_gray{
	color: #777;
	font-size: 12px;
}

.info_orange{
	color: #a98104;
	font-size: 12px;
}

.info_red{
	color: #a90404;
	font-size: 12px;
}

.info_blue{
	color: #0082c5;
	font-size: 12px;
}

.info_empowered{
	font-style: italic;
	color: #777;
}

.element_holy{
	background: linear-gradient(to right, #191919d9 , #7a4d01) !important;
}

.element_dark{
	background: linear-gradient(to right, #191919d9 , #3e1722) !important;
}

.element_fire{
	background: linear-gradient(to right, #191919d9 , #6e2910) !important;
}

.element_ice{
	background: linear-gradient(to right, #191919d9 , #153570) !important;
}

.element_electric{
	background: linear-gradient(to right, #191919d9 , #105660) !important;
}

.element_toxic{
	background: linear-gradient(to right, #191919d9 , #34164a) !important;
}
